<section id="about" class="section">
  <div class="container">
    <div class="section-title text-center">
      <h2>Abouts Me</h2>
      <div class="line"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore etdolore.</p>
    </div>
    <div class="row">
      <div class="col-md-4 animate-left">
        <img src="images/longntran.jpg" alt="Long tran" class="about-img">
      </div>
      <div class="col-md-8 animate-right">
        <h6 style="margin-top:0;">HTML5, CSS3</h6>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80"
               aria-valuemin="0" aria-valuemax="100" style="width:80%">
            80%
          </div>
        </div>

        <h6>JavaScript</h6>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90"
               aria-valuemin="0" aria-valuemax="100" style="width:90%">
            90%
          </div>
        </div>

        <h6>ReactJS</h6>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95"
               aria-valuemin="0" aria-valuemax="100" style="width:95%">
            95%
          </div>
        </div>

        <h6>AngularJS</h6>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80"
               aria-valuemin="0" aria-valuemax="100" style="width:80%">
            80%
          </div>
        </div>
      </div>
    </div> <!-- row -->
  </div>
</section> <!-- about -->
