<section class="band band--ligh-grey">
  <div class="container">
    <div class="grid">
      <div class="grid__one-fours">
        <p><small>I am available for hire to consult, advise, and develop with passionate product teams across the globe.</small></p>
      </div>
      <div class="grid__one-fours">
        <p><small>I specialise in large, product-based projects where performance, scalability, and maintainability are paramount.</small></p>
      </div>
      <div class="grid__two-fours">
        <p><a href="/services/" class="btn  btn--secondary  btn--full">I am currently <strong>considering new projects</strong> for Q3–4 2017.</a></p>
      </div>
    </div>
  </div>
</section>

<footer class="c-footer">
  <p class="container">
    <small>Copyright &copy; <strong>longntran</strong>, Theme by <a href="https://nhulongctk35.github.io/github.io/">nhulongctk35</a></small>
  </p>
</footer>
