<header class="p-head p-head--root">
    <div class="container">
        {% include nav.html %}

        <div class="p-head__content">
            <h1 class="p-head__text">I'm Long (SSE)</h1>
            <ul class="grid default-list p-head__social-link">
                <li><a href="https://github.com/nhulongctk35" target="_blank">Github</a></li>
                <li><a href="https://stackoverflow.com/users/6455185/long-tran" target="_blank">Stackoverflow</a></li>
                <li><a href="https://www.linkedin.com/in/long-tran-nhu-950734111/" target="_blank">Linkled</a></li>
            </ul>
        </div>
    </div>
</header>
