<section id="home">
  <div class="grid grid--3">
    <div class="grid__item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, soluta non nemo sapiente quam sit iste, dolorem laborum
        nesciunt aliquid ratione. Vero perspiciatis voluptas tempore veritatis, eos nulla vitae. Exercitationem!</p>
    </div>
    <div class="grid__item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, soluta non nemo sapiente quam sit iste, dolorem laborum
        nesciunt aliquid ratione. Vero perspiciatis voluptas tempore veritatis, eos nulla vitae. Exercitationem!</p>
    </div>
    <div class="grid__item">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, soluta non nemo sapiente quam sit iste, dolorem laborum
        nesciunt aliquid ratione. Vero perspiciatis voluptas tempore veritatis, eos nulla vitae. Exercitationem!</p>
    </div>
  </div>
</section>
