<section id="home">
  <div class="grid grid--3">
    <div class="grid__item">
      <h2 class="heading">Consultancy</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, soluta non nemo sapiente quam sit iste, dolorem laborum
        nesciunt aliquid ratione. Vero perspiciatis voluptas tempore veritatis, eos nulla vitae. Exercitationem!</p>
    </div>
    <div class="grid__item">
      <h2 class="heading">Development</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, soluta non nemo sapiente quam sit iste, dolorem laborum
        nesciunt aliquid ratione. Vero perspiciatis voluptas tempore veritatis, eos nulla vitae. Exercitationem!</p>
    </div>
    <div class="grid__item">
      <h2 class="heading">Workshops</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, soluta non nemo sapiente quam sit iste, dolorem laborum
        nesciunt aliquid ratione. Vero perspiciatis voluptas tempore veritatis, eos nulla vitae. Exercitationem!</p>
    </div>
    <div class="grid__item grid__item--full">
      <p class="promo__links">
        <a href="/services/" class="btn btn--secondary">Learn More</a>
        <span class="promo__links-space">or</span>
        <a href="/contact/" class="btn">Hire me</a>
      </p>
    </div>
  </div>
</section>
