html {
  color: #333;
  line-height: 1.5;
  font-size: 1em;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: 90%;
  margin: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;

  &--wide {
    max-width: 1280px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $color-primary;
  font-weight: 300;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

a {
  color: $color-primary;
  cursor: pointer;
  text-decoration: none;

  &:active,
  &:hover {
    outline: none;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.promo {

  &__links {
    text-align: center;
  }

  &__links-space {
    padding: 0  1.5rem;
  }
}

.box {
  padding: 24px;
  border-radius: 3px;

  &--highlight {
    background-color: $white;
  }
}
