.posts {
  .post {
    padding-bottom: 2em;
    border-bottom: 1px solid $lightGray;
  }
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  &__title {
    width: 100%;
    margin-bottom: 0;

    .post__link {
      display: block;
    }
  }

  &__desc {
    p {
      margin-top: 0;
    }
  }
}
