.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--3 {
    .grid__item {
      flex-basis: 30%;
    }
  }

  &__two-thirds {
    width: 60%;
  }

  &__one-thirds {
    width: 30%
  }

  &__one-fours {
    width: 22.5%;
  }

  &__two-fours {
    width: 45%;
  }

  &__item--full {
    flex: 1;
  }
}
