$bg-grad: linear-gradient(to right, #807363 0%, #251d16 50%, #3f302b 75%, #100b09 100%);

.page-head {
  height: 426px;
  position: static;
  padding: 24px 0;
  color: $white;
  background-image: url(/images/master.jpg), $bg-grad;
  background-size: cover;
  background-position: center center;
}
