<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name='viewport' content='width=device-width, minimum-scale=1.0'>
  <title>{{ page.title }} &ndash; CSS Wizardry &ndash; Web Performance Optimisation, and more, by LongNhuTran</title>

  {% include meta.html %}

  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <link rel="shortcut icon" href="{{ site.baseurl }}/icon.png">
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/icon.png">

  <style>
    {% include vendors/normalize.min.css %}
  </style>

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml"
  />

</head>

<body>
  {% include header.html %}

  <div class="container">
    <div class="grid">
      <div class="grid__item grid__two-thirds">
        {{ content }}
      </div>
      <div class="grid__item grid__one-thirds">
        {% include sub-content.html %}
      </div>
    </div>
    {% include pagination.html %}
  </div>

  {% include footer.html %}

  {% include analytics.html %}
</body>

</html>
